<div class="container">
  <section class="container-nacionales" id="nacionales"></section>
  <h2>Cursos Terminados</h2>
  <div class="flex">
    <div class="card">
      <div class="face front">
        <img src="../assets/images/html.jpg" alt="curso html">
        <h3>HTML</h3>
      </div>
      <div class="face back">
        <h3>HTML</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem consequuntur reprehenderit impedit ipsam
          optio quaerat.</p>
        <div class="link">
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../assets/images/css.jpg" alt="curso css">
        <h3>CSS</h3>
      </div>
      <div class="face back">
        <h3>CSS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur obcaecati cupiditate porro nam, illo
          eum!</p>
        <div class="link">
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../assets/images/c.jpg" alt="curso c#">
        <h3>C#</h3>
      </div>
      <div class="face back">
        <h3>C#</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta facilis modi atque alias quibusdam aliquid.
        </p>
        <div class="link">
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
  <section class="container-internacionales" id="internacionales">
    <h2>Cursos en proceso</h2>
    <div class="flex">
      <div class="card">
        <div class="face front">
          <img src="../assets/images/php.jpg" alt="curso php">
          <h3>PHP</h3>
        </div>
        <div class="face back">
          <h3>PHP</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia tempore, veniam similique nihil corrupti
            porro?</p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="../assets/images/npm.jpg" alt="curso npm">
          <h3>NPM</h3>
        </div>
        <div class="face back">
          <h3>NPM</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vitae nulla doloribus quidem architecto
            quas.</p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="../assets/images/node.jpg" alt="curso node">
          <h3>NODE JS</h3>
        </div>
        <div class="face back">
          <h3>NODE JS</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat minima quidem rerum odio praesentium id.
          </p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-playeros" id="playeros">
    <h2>Cursos Guardados</h2>
    <div class="flex">
      <div class="card">
        <div class="face front">
          <img src="../assets/images/react.jpg" alt="curso react js">
          <h3>REACT JS</h3>
        </div>
        <div class="face back">
          <h3>REACT JS</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam obcaecati, consequatur suscipit iure nisi
            facilis.</p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="../assets/images/vue.jpg" alt="curso vue">
          <h3>VUE JS</h3>
        </div>
        <div class="face back">
          <h3>VUE JS</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, eum quos ratione saepe quia nostrum?</p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="../assets/images/java.jpg" alt="curso java">
          <h3>JAVA</h3>
        </div>
        <div class="face back">
          <h3>JAVA</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In magni aut velit voluptatum, culpa saepe?</p>
          <div class="link">
            <a href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>